SchemeLight =
	--bg #fff
	--text #000
	// ===== Layout =====
	--ui-panel-bg #0001
	// ===== Component =====
	// Tooltips
	--ui-tooltips-bg #d0d0d0d0
	// Dialog
	--ui-dialog-filter-bg #0008
	--ui-dialog-bg #f8f8f8
	--ui-dialog-border #0004
	// Msg
	--ui-msg-border #0002
	--ui-msg-mgr-border #0002
	// ===== Widget =====
	// btn
	--w-btn-con-bg #0001
	--w-btn-bg #0001
	--w-btn-border #0001
	--w-btn-hover-bg #0002
	--w-btn-active-bg #00000008
	--w-btn-active-content-opacity .7
	--w-btn-disabled-bg #0000
	--w-btn-disabled-border #0001
	--w-btn-disabled-content-opacity .5
	--w-btn-danger-bg #ff5555
	--w-btn-danger-border #ff5555
	--w-btn-danger-hover-bg #eb3e1a
	--w-btn-danger-active-bg #ff5555a0
	--w-btn-danger-disabled-bg #ff555566
	// Input
	--w-input-bg #0001
	--w-input-indicator #222
	--w-input-hover-bg #0002
	--w-input-focus-bg #fff8
	--w-input-placeholder #0008
	--w-input-readonly-indicator #0004
	--w-input-invalid-bg #a2230920
	--w-input-invalid-hover-bg #a2230940
	--w-input-invalid-focus-bg #a2230910
	--w-input-invalid-indicator #dc3614
	--w-input-autofill-bg #eee
	--w-input-autofill-hover-bg #0001
	--w-input-disabled-indicator #0004
	--w-input-disabled-bg #00000008
	--w-input-disabled-text #000a
	// Switch
	--w-switch-bg #0002
	--w-switch-border #0002
	--w-switch-hover-bg #0004
	// Select
	--w-select-bg #0001
	--w-select-border #0002
	--w-select-hover-bg #0002
	--w-select-active-bg #00000008
	--w-select-picker-bg #fffd
	--w-select-option-hover-bg #0002
	--w-select-option-active-bg #0001
	// Progress
	--w-progress-bar-track #888
	--w-progress-ring-size 64px
	--w-progress-ring-thickness 5
	// Checkbox
	--w-checkbox-bg #0002
	--w-checkbox-border #0002
	--w-checkbox-hover-bg #0004
	--w-checkbox-active-bg #00000018
	--w-checkbox-disabled-bg #0001
	// Slider
	--w-slider-track #0004
	--w-slider-cover var(--theme)
	--w-slider-thumb var(--theme)
	--w-slider-thumb-border var(--theme-text)
	// Nav
	--w-nav-hover-bg #00000018
	--w-nav-active-bg #0000000d
	--w-nav-active-content-opacity .8
	// Color
	--w-color-border #0002
SchemeDark =
	--bg #111
	--text #fff
	// ===== Layout =====
	--ui-panel-bg #ffffff08
	// ===== Component =====
	// Tooltips
	--ui-tooltips-bg #080808d0
	// Dialog
	--ui-dialog-filter-bg #0008
	--ui-dialog-bg #111
	--ui-dialog-border #fff2
	// Msg
	--ui-msg-border #fff2
	--ui-msg-mgr-border #fff2
	// ===== Widget =====
	// btn
	--w-btn-con-bg #fff1
	--w-btn-bg #fff1
	--w-btn-border #fff2
	--w-btn-hover-bg #fff2
	--w-btn-active-bg #ffffff08
	--w-btn-active-content-opacity .8
	--w-btn-disabled-bg #ffffff05
	--w-btn-disabled-border #fff2
	--w-btn-disabled-content-opacity .6
	--w-btn-danger-bg #a22309
	--w-btn-danger-border #a22309
	--w-btn-danger-hover-bg #c72e0f
	--w-btn-danger-active-bg #c72e0fa0
	--w-btn-danger-disabled-bg #c72e0f66
	// Input
	--w-input-bg #fff1
	--w-input-indicator #fff8
	--w-input-hover-bg #fff2
	--w-input-focus-bg #0008
	--w-input-placeholder #fff8
	--w-input-readonly-indicator #fff4
	--w-input-invalid-bg #a2230920
	--w-input-invalid-hover-bg #a2230940
	--w-input-invalid-focus-bg #a2230910
	--w-input-invalid-indicator #dc3614
	--w-input-autofill-bg #080808
	--w-input-autofill-hover-bg #fff2
	--w-input-disabled-indicator #fff4
	--w-input-disabled-bg #ffffff08
	--w-input-disabled-text #fffb
	// Switch
	--w-switch-bg #fff1
	--w-switch-border #fff2
	--w-switch-hover-bg #fff2
	// Select
	--w-select-bg #fff1
	--w-select-border #fff2
	--w-select-hover-bg #fff2
	--w-select-active-bg #ffffff08
	--w-select-picker-bg #000d
	--w-select-option-hover-bg #fff2
	--w-select-option-active-bg #fff1
	// Progress
	--w-progress-bar-track #8888
	--w-progress-ring-size 64px
	--w-progress-ring-thickness 5
	// Checkbox
	--w-checkbox-bg #fff1
	--w-checkbox-border #fff2
	--w-checkbox-hover-bg #fff2
	--w-checkbox-active-bg #ffffff08
	--w-checkbox-disabled-bg #ffffff05
	// Slider
	--w-slider-track #fff4
	--w-slider-cover var(--theme)
	--w-slider-thumb var(--theme)
	--w-slider-thumb-border var(--theme-text)
	// Nav
	--w-nav-hover-bg #ffffff18
	--w-nav-active-bg #ffffff08
	--w-nav-active-content-opacity .8
	// Color
	--w-color-border #fff2

[ui-scheme='light']
	{SchemeLight}

[ui-scheme='dark']
	{SchemeDark}

[ui-scheme='system']
body
	@extend [ui-scheme='light']

@media (prefers-color-scheme dark)
	[ui-scheme='system']
	body
		{SchemeDark}
