.ui-nav
	position fixed
	z-index 90
	outline 4px solid var(--theme)
	outline-offset 2px
	border-radius calc(var(--border-radius) + 1px)
	transition .05s top, .05s left, .1s height, .1s width, .2s border-radius, .1s opacity
