w-color
	display block
	overflow hidden
	width 48px
	height 32px
	border 1px solid var(--w-color-border)
	border-radius 4px

.w-color
	position relative
	width 100%
	height 100%
	background 0 0 / 20px 20px linear-gradient(45deg, #888 25%, #0000 0, #0000 75%, #888 0), 10px 10px / 20px 20px linear-gradient(45deg, #888 25%, #0000 0, #0000 75%, #888 0), #ddd
	&:before
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 100%
		background var(--w-color)
		content ''
