w-text
w-password
w-number
w-text-field
	position relative
	display block
	flex 1
	overflow hidden
	padding 8px
	padding-right calc(6px + var(--w-input-action-right, 0px))
	padding-left calc(6px + var(--w-input-action-left, 0px))
	min-height 33px
	width 100%
	border-bottom 1.5px solid var(--w-input-indicator)
	border-radius 4px
	background var(--w-input-bg)
	transition .1s background, .1s border-color, .1s padding
	&[disabled]
		border-color var(--w-input-disabled-indicator)
		background var(--w-input-disabled-bg)
		color var(--w-input-disabled-text)
	&:not([disabled])
		&[ui-hover]
			background var(--w-input-hover-bg)
		&:focus-within
			border-color var(--theme)
			background var(--w-input-focus-bg)
	&[invalid]
		background var(--w-input-invalid-bg)
		&:not([disabled])
			&[ui-hover]
				background var(--w-input-invalid-hover-bg)
			&:focus-within
				border-color var(--w-input-invalid-indicator)
				background var(--w-input-invalid-focus-bg)

.w-input-autofill-visible
	border-radius 4px 4px 0 0

.w-input
	all unset
	box-sizing border-box

.w-input-placeholder
.w-input
	position absolute
	padding inherit
	width 100%
	height 100%
	inset 0
	&::-webkit-inner-spin-button
		display none

.w-input-placeholder
	// HACK: Fix the placeholder content being slightly lower than the input box content
	margin-top -4px
	color var(--w-input-placeholder)

.w-input-placeholder-hidden
	opacity 0

.w-input-autofill
	position fixed
	display flex
	display flex
	flex-direction column
	padding 2px
	border-radius 0 0 4px 4px
	background var(--w-input-autofill-bg)

.w-input-autofill-item
	display flex
	flex-direction column
	padding 6px 8px
	border-radius 2px
	&:hover
		background var(--w-input-autofill-hover-bg)

.w-input-action
	position absolute
	top 2px
	display flex
	&[left]
		left 2px
		.w-input-action-item
			margin-right var(--w-input-action-offset)
	&[right]
		right 2px
		.w-input-action-item
			margin-left var(--w-input-action-offset)

.w-input-action-item
	position relative
	flex 0 0 auto
	padding 0
	width 28px
	height 28px
	transition .1s margin, .1s scale
	--w-input-action-offset 2px
	&[disabled]
		// --w-btn-disabled-content-opacity var(--text)
		--w-btn-progress-bg #0000

.w-input-action-item-hidden
	pointer-events none
	scale 0
	--w-input-action-offset -28px

w-text-field
	height 64px
	transition .1s height

.w-text-field
	visibility hidden
	height max-content
	white-space pre
	pointer-events none

:host(w-text-field)
	.w-input-placeholder
		margin 0
